<form action="/result" method="POST">
    <label>Name:</label><br>
    <input type="text" name="name"><br>

    <label>Student Number:</label><br>
    <input type="text" name="student_number"><br>

    <label>Gender:</label><br>
    <input type="radio" name="gender" value="Male">Male
    <input type="radio" name="gender" value="Female">Female<br>

    <label>Major:</label><br>
    <input type="text" name="major"><br>

    <label>Programming Languages:</label><br>
    <input type="checkbox" name="languages" value="Python">Python
    <input type="checkbox" name="languages" value="Java">Java
    <input type="checkbox" name="languages" value="HTML">HTML
    <input type="checkbox" name="languages" value="C++">C++<br><br>

    <input type="submit" value="submit">
</form>
